body {
  box-sizing: border-box;
}

input {
  width: 30px;
  height: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-check-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; 
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

button {
  width: 70px;
  height: 20px;
  font-size: 10px;
  color: black;
  background-color: yellow;
  border-radius: 20px;
  border: 4px solid black;
}

.number-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
  margin: 10px;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid grey;
  border-radius: 15px;
}
  
img {
  width: 70px;
}

p {
  
  font-size: 45px;
}

